[submodule "vendor/pg18"]
	path = vendor/pg18
	url = https://git.postgresql.org/git/postgresql.git
	branch = REL_18_STABLE
	shallow = true
[submodule "vendor/pgvector"]
	path = vendor/pgvector
	url = https://github.com/pgvector/pgvector.git
